@model IEnumerable<ValuationCalculator.Models.ValuationModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Zamówienie</h1>

<p>
    <a type="button" class="btn btn-outline-warning" asp-action="Create">Dodaj element</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValuationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ValuationId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Usuń", "Delete", new { id = item.ValuationId }, new { @class = "btn btn-warning" })
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-8">@Html.ActionLink("Podsumowanie zamówienia", "Summary", new { /*id = item.ValuationId*/ }, new { @class = "btn btn-outline-warning" })
    </div>
</div>

